[submodule "themes/next"]
	path = themes/next
	url = https://github.com/theme-next/hexo-theme-next
	branch = master
[submodule "themes/aath"]
	path = themes/aath
	url = https://github.com/lewis-geek/hexo-theme-Aath
	branch = develop
